
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><style>
    form{
        margin-top: 10%;
        text-align: center;
    }
    input{
        height: 3vw;
        width: 15vw;
        border-radius: 5px;
        border: none;
        margin-top: 1vw;
        background: rgb(195, 193, 193);
    }
    .btn{
            background: #4ADEDE;
            color: white;
            font-size: 1.2vw;
        }
        .btn:hover{
            cursor: pointer;
            
        }
</style>
    
    <form action="" method="post">
        {% csrf_token %}
        <h1>Changer votre mot de passe</h1>
        <input type="password" name="password" placeholder="password"> <br>
        <input type="password" name="password_confirm" placeholder="confirmer"> <br>
        <input class="btn" type="submit" value="envoyer">
    </form>
    {% if message_len %}
    <p style="color: red;text-align: center;">
        {{message_len}}
    </p>
    {% endif %}
    {% if message_digit %}
    <p style="color: red;text-align: center;">
        {{message_digit}}
    </p>
    {% endif %}
    {% if messaage_alpha %}
    <p style="color: red;text-align: center;">
        {{messaage_alpha}}
    </p>
    {% endif %}
    
</body>
</html>